.breadcrumbs__menu-container{
    width: 1087px;
    padding: 0;
    margin-top: 95px;
}

.breadcrumbs__container{
    width: 1225px;
    padding: 0;
    margin-top: 61px;
}

.breadcrumbs__shipping-price-container{
    width: 1270px;
    padding: 0;
    margin-top: 61px;
}

.breadcrumbs__password-container{
    width: 1087px;
    padding: 0;
    margin-top: 61px;
}

.breadcrumbs__requests-container{
    margin-top: 61px;
    padding: 0;
    width: 1280px;
}

.breadcrumbs__text{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #646363;
}