.breadcrumbs{
    margin-top: 61px;
}

.breadcrumbs__container{
    width: 1087px;
    padding: 0;
}

.breadcrumbs__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #646363;
}