.cabinet-entering{
    margin: 15px 0 137px;
}

.cabinet-entering__container{
    width: 1087px;
    background-color: #EBEBEB;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
    padding: 0;
}

.cabinet-entering__inner{
    display: flex;
    justify-content: space-between;
}

.cabinet-entering__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 118px 28px;
}

.cabinet-entering__title{
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 54px;
}

.cabinet-entering__form{
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cabinet-entering__form-email-img{
    position: absolute;
    top: 17px;
    left: 20px;
}

.cabinet-entering__form-email{
    width: 393px;
    padding: 22px 20px 22px 58px;
    margin-bottom: 30px;
    background-color: #FAF8F8;
    border: 1px solid #057803;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &::placeholder{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
}

.cabinet-entering__form-password-img{
    position: absolute;
    top: 108px;
    left: 20px;
}

.cabinet-entering__form-password{
    width: 393px;
    padding: 22px 150px 22px 58px;
    border: 1px solid #C30000;
    background-color: #FAF8F8;
    margin-bottom: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &::placeholder{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
}

.cabinet-entering__form-text{
    margin: 0;
    align-self: flex-end;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #646363;
    text-decoration: underline;
}

.cabinet-entering__form-btn{
    margin: 36px 0 14px;
    width: 393px;
    padding: 22px 0 22px;
    border-radius: 50px;
    background: linear-gradient(268.48deg, #FF4141 6.32%, #FF9900 97.15%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
}

.cabinet-entering__form-bottom-text{
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    & > span{
        text-decoration: underline;
    }
}

.cabinet-entering__text{
    margin-top: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    & > b{
        text-decoration: underline;
    }
}

.cabinet-entering__img{

}
