.password-changer__container{
    width: 1225px;
    padding: 0;
    margin-top: 6px;
    background-color: #EBEBEB;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

.password-changer__inner{
    display: flex;
    justify-content: space-between;
}

.password-changer__leftside-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 119px;
    padding-top: 114px;
}

.password-changer__title{
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    margin: 0;
}

.password-changer__text{
    margin-top: 13px;
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #057803;
}

.password-changer__form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.password-changer__input{
    width: 393px;
    background-color: #FAF8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    padding: 22px 60px 21px 58px;
    margin-bottom: 30px;
    &::placeholder{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #646363;
    }
}

.password-changer__btn-pass-first{
    position: absolute;
    top: 22px;
    left: 340px;
}

.password-changer__btn-pass-second{
    position: absolute;
    top: 114px;
    left: 340px;
}

.password-changer__icon-first{
    position: absolute;
    left: 16px;
    top: 17px;
}

.password-changer__icon-second{
    position: absolute;
    left: 16px;
    top: 106px;
}

.password-changer__btn{
    width: 393px;
    background: linear-gradient(268.48deg, #FF4141 6.32%, #FF9900 97.15%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 22px 0 21px;
}

.password-changer__btn-text{
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 18px;
    text-transform: uppercase;
}