.pic-text__container{
  margin-top: 79px;
  margin-bottom: 144px;
  padding-top: 116px;
}

.pic-text__content{
    display: flex;
    justify-content: space-between;
}

.pic-text__heading-wrapper {
  max-width: 42%;
}

.pic-text__img {
  position: relative;
  width: 58%;
}
.pic-text__img img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 950px;
  max-width: none;
  height: 633px;
  transform: translateY(-50%);
}

.pic-text__title{
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
}

.pic-text__title-light{
    font-weight: 400;
}

.pic-text__list-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.bottom-pic-text__container{
  margin-top: 97px;
  margin-bottom: 37px;
  padding-top: 0;
}

.bottom-pic-text__heading-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.bottom-pic-text__content{
    flex-direction: row-reverse;
}
