.pic-text__container{
  margin-top: 79px;
  margin-bottom: 144px;
  padding-top: 116px;
}

.pic-text__content{
    display: flex;
    justify-content: space-between;
}

.pic-text__heading-wrapper {
  max-width: 42%;
}

.pic-text__img {
  position: relative;
  width: 58%;
}
.pic-text__img img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 950px;
  max-width: none;
  height: 633px;
  transform: translateY(-50%);
}

.pic-text__title{
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
}

.pic-text__title-light{
    font-weight: 400;
}

.pic-text__list-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.bottom-pic-text__container{
  margin-top: 97px;
  padding-top: 0;
  margin-bottom: 37px;
}

.bottom-pic-text__heading-wrapper{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bottom-pic-text__title{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 28px;
  line-height: 30px;
}

.bottom-pic-text__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
}

.bottom-pic-text__info-wrapper{
  width: 672px;
  background-color: #FFF9C8;
  align-self: center;
  border-radius: 50px;
  padding-left: 34px;
}

.bottom-pic-text__info{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.bottom-pic-text__info-cabinet{
  text-decoration: underline;
  color: inherit;
}

.bottom-pic-text__info-cashback{
  color: #E90000;
  font-weight: 700;
}

.bottom-pic-text__img{
  position: relative;
  width: 50%;
  height: 950px;
}

.bottom-pic-text__img img{
  position: absolute;
  left: -50%;
  top: 50%;
  width: 950px;
  max-width: none;
  height: 950px;
  transform: translateY(-50%);
}