.variants{
    background-image: url(../../img/dv-block-bgc.jpg);
    height: 750px;
    margin-bottom: 166px;
}

.variants__container{
    margin-top: 63px;
    
}

.variants__inner{
    padding: 90px 0;
}

.variants__title{
    margin: 0;
    text-align: center;
    color: var(--light-color);
    font-weight: 800;
    font-size: 28px;
    line-height: 18px;
}

.variants__title-light{
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.variants__list{
    display: flex;
    justify-content: center;
    margin-top: 119px;
    gap: 85px;
}

.variants__list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.variants__list-text{
    text-align: center;
    color: var(--light-color);
    font-size: 18px;
    line-height: 20px;
}