<section class="pic-text bottom-pic-text">
    <div class="container pic-text__container bottom-pic-text__container">
        <div class="pic-text__inner">
            <div class="pic-text__content bottom-pic-text__content">
                <div class="bottom-pic-text__img">
                    <img src="../../img/bottom-pic-text-img.png" alt="">
                </div>
                <div class="pic-text__heading-wrapper bottom-pic-text__heading-wrapper">
                    <h4 class="bottom-pic-text__title">
                        Есть все, что вам нужно!
                    </h4>
                    <p class="bottom-pic-text__text">
                        Что для вас важно при перевозки вашего груза: Качество доставки? Сроки? Или стоимость перевозки?
                        А может сразу несколько или все критерии для вас играют весомую роль? Именно на эти 3-и критерия
                        органиция "EAM company” делает максимальный упор при сопровождении и перевозки Вашего груза.
                    </p>
                    <p class="bottom-pic-text__text">
                        Готовы для Вас обеспечить профессиональную поддержку 24/7, чтобы вы были в курсе всех событий и
                        знали точное местоположение грузового транспорта. Знаем как для Вас важны точные сроки и поэтому
                        при расчёте сроков учитываем все риски и оптимальные маршруты, чтобы вы получили груз в
                        назначенный день. Ценим каждый перевозимый нами груз, а чтобы Вы не волновались груз будет
                        застрахован на сумму до 200 000 Eur.
                    </p>
                    <p class="bottom-pic-text__text">
                        Ну а стоимость перевозки для Вас будет приятным дополнением, где вы убедитесь, что лучше условий
                        Вам не найти. Секрет успеха в качестве, сроках и стоимости прост, у нас собственный парк
                        автомобилей, профессиональные экспедиторы и самое главное опытные водители.
                    </p>
                    <p class="bottom-pic-text__text">
                        Для приятного начала нашего сотрудничества у нас предусмотрены скидочные программы для новых и
                        постоянных клиентов. Желаем Вам успехов и комфортной совместной работы.
                    </p>
                    <div class="bottom-pic-text__info-wrapper">
                        <p class="bottom-pic-text__info">
                            При регистрации в <a class="bottom-pic-text__info-cabinet" href="../../cabinet.html">Кабинете клиента</a> Вам будет предоставлена 
                            <br>
                            бонусная программа: <a class="bottom-pic-text__info-cashback" href="../../cashback.html">КЭШ-БЭК</a> до 14%!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>