<section class="pic-text bottom-pic-text">
    <div class="pic-text__container bottom-pic-text__container">
        <div class="pic-text__inner">
            <div class="pic-text__content bottom-pic-text__content">
                <div class="pic-text__heading-wrapper bottom-pic-text__heading-wrapper">
                    <h4 class="pic-text__title">
                        <b>Сопровождаем ваш груз</b> 
                        <br>
                        <span class="pic-text__title-light">на всех этапах работы!</span>
                    </h4>
                    <ul class="pic-text__list">
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Предложим Вам оптимальный маршрут и бюджет
                                <br>
                                доставки груза.
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Подача машины на место погрузки в течение 24
                                <br>
                                часов после согласования.
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Контролируем и соблюдаем точные сроки 
                                <br>
                                доставки оговоренные с Вами.
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Предоставим Вам CMR страхование Вашего груза 
                                <br>
                                до 200 000 Eur. 
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Оформление транзитных и прочих документов.
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Терминальная обработка и складирование.
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                С вами на связи 24/7 (24 часа в сутки 7 дней в 
                                <br>
                                неделю).
                            </p>
                        </li>
                        <li class="pic-text__list-items">
                            <p class="pic-text__list-text">
                                Можете воспользоваться рассрочкой платежа до
                                <br>
                                60 дней без переплат.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="pic-text__img">
                    <img src="../../img/bottom-pic-text-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>