<section class="cabinet-entering">
    <div class="breadcrumbs">
        <div class="breadcrumbs__menu-container container">
            <div class="breadcrumbs__inner">
                <a href="#" onclick="history.back(-1);">
                    <p class="breadcrumbs__text">
                        Вернуться назад
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="cabinet-entering__container container">
        <div class="cabinet-entering__inner">
            <div class="cabinet-entering__content">
                <div class="cabinet-entering__title">
                    Вход в кабинет
                </div>
                <form class="cabinet-entering__form">
                    <img class="cabinet-entering__form-email-img" src="../../img/Email.png" alt="">
                    <input type="email" class="cabinet-entering__form-email" placeholder="Ваш E-mail">
                    <img class="cabinet-entering__form-password-img" src="../../img/password.png" alt="">
                    <input type="password" class="cabinet-entering__form-password" placeholder="Ваш пароль">
                    <a class="cabinet-entering__form-text" href="../../password-changer.html">Восстановить пароль?</a>
                    <button class="cabinet-entering__form-btn btn-reset" type="submit">Войти</button>
                    <p class="cabinet-entering__form-bottom-text">Нажимая кнопку, Вы даете согласие на
                        <br>
                        обработку <a href="../../data-protection.html">персональных данных</a>
                    </p>
                </form>
                <p class="cabinet-entering__text">Нет аккаунта? <a href="../../company-profile.html">Зарегистрируйтесь!</a></p>
            </div>
            <img class="cabinet-entering__img" src="../../img/cabinet-entering.jpg" alt="">
        </div>
    </div>
</section>