<section class="cargo">
    <div class="cargo__container container">
        <div class="cargo__inner">
            <div class="cargo__content">
                <h2 class="cargo__title">
                    поместится любой ваш груз
                    <br>
                    <span class="cargo__title-light">от 10 кг. до 20 т.</span>
                </h2>
                <ul class="cargo__list list-reset">
                    <li class="cargo__list-item">
                        <img class="cargo__list-img" src="../../img/mini_truck.png" alt="">
                        <p class="cargo__list-text">
                            Цельнометаллический буc
                            <br>
                            до 1,5 т.
                        </p>
                    </li>
                    <li class="cargo__list-item">
                        <img src="../../img/small_truck.png" alt="">
                        <p class="cargo__list-text">
                            Цельнометаллический и тентовый
                            <br>
                            грузовик с рефрежератором и без до 3 т.
                        </p>
                    </li>
                    <li class="cargo__list-item">
                        <img class="cargo__list-img" src="../../img/truck.png" alt="">
                        <p class="cargo__list-text">
                            Цельнометалическая и тентовая фура с
                            <br>
                            рефрежератором и без до 20 т.
                        </p>
                    </li>
                </ul>
                <div class="cargo__text-wrapper">
                    <p class="cargo__text">
                        Возможность <span class="cargo__text-bald">перевозки отдельным авто</span> без попутного груза.
                    </p>
                    <p class="cargo__text">
                        <span class="cargo__text-bald">Собственный автопарк</span> грузовых машин!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>