<section class="cashback">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="cahsback__container container">
        <div class="cahsback__inner">
            <div class="cahsback__rightside-content">
                <h3 class="cahsback__title">Кэш-Бэк до 14%</h3>
                <p class="cahsback__text">
                    Сотрудничая с нашей компанией вы можете получать CashBack (возврат средств) до 14% от суммы за
                    услугу перевозки Вашего груза.
                </p>
                <p class="cashback__text">
                    Как это работает: Вы размещаете заявку для перевозки Вашего груза в <a href="#">Кабинете клиента</a>, после
                    согласования и выполнения условий по доставке, а также закрытия финансовых обязательств мы
                    возвращаем вам до 14% CashBack от суммы за услугу перевозки Вашего груза и зачисляем их на баланс
                    вашего <a href="#">кабинета</a>. Накопленной суммой за CashBack вы можете рассчитаться при следующем заказе.
                </p>
                <p class="cashback__text">
                    Чтобы воспользоваться бонусной программой CashBack до 14% Вам достаточно зарегистрироваться в
                    <a href="#">Кабинете</a> клиента и оформлять заявки на перевозку Вашего груза через <a href="#">кабинет</a>.
                </p>
                <p class="cashback__text">
                    Накопленную сумму CashBack Вы можете применять уже с последующей перевозки. Вся процедура подсчётов
                    сделана автоматически и вы сами решаете когда захотите воспользоваться накопленной суммой CashBack.
                </p>
                <p class="cashback__text">
                    Для активации CashBack Вам достаточно на стадии согласования заявки активировать кнопку Применить
                    CashBack и с уже рассчитанной суммы за перевозку груза будет списана сумма накопленной вами по
                    системе CashBack.
                </p>
                <h4 class="cashback__list-title">Основные правила:</h4>
                <ul class="cashback__list-rules list-reset">
                    <li class="cashback__list-item">
                        CashBack не суммируется с другими бонусами проводящими компанией EAM company.
                    </li>
                    <li class="cashback__list-item">
                        CashBack будет зачислен на ваш виртуальный баланс после полного выполнения заказ и его оплаты.
                    </li>
                    <li class="cashback__list-item">
                        Накопленной суммой CashBack можете оплатить до 50% от общей суммы за услугу перевозки груза.
                    </li>
                </ul>
                <h4 class="cashback__list-title">Шкала выплат CashBack:</h4>
                <ul class="cashback__list-rules list-reset">
                    <li class="cashback__list-item">
                        За 5, 7, 9 заказ = возвращаем 5 %;
                    </li>
                    <li class="cashback__list-item">
                        За 11, 13, 15, 17, 19, 21, 23, 25, 27, 29 заказ = возвращаем 6 %; 
                    </li>
                    <li class="cashback__list-item">
                        За 31, 33, 35, 37, 39, 41, 43, 45, 47, 49 заказ = возвращаем 7 %;
                    </li>
                    <li class="cashback__list-item">
                        За 51, 53, 55, 57, 59, 61, 63, 65, 67, 69 заказ = возвращаем 8 %;
                    </li>
                    <li class="cashback__list-item">
                        За 71, 73, 75, 77, 79, 81, 83, 85, 87, 89 заказ = возвращаем 9 %;
                    </li>
                    <li class="cashback__list-item">
                        За 91 - 109 нечетные номера заказа = возвращаем 10 %;
                    </li>
                    <li class="cashback__list-item">
                        За 111 - 129 нечетные номера заказа = возвращаем 11 %;
                    </li>
                    <li class="cashback__list-item">
                        За 131 - 149 нечетные номера заказа = возвращаем 12 %;
                    </li>
                    <li class="cashback__list-item">
                        За 151 - 179 нечетные номера заказа = возвращаем 13 %;
                    </li>
                    <li class="cashback__list-item">
                        От 181 нечетные номера заказа = возвращаем 14%;
                    </li>
                </ul>
                <p class="cashback__text">Дата проведения бонусной программы: 20.09.2021 по 20.09.2022</p>
            </div>
            <div class="cahsback__leftside-content">
                <img class="cahsback__img" src="../../img/cashback-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>