<section class="company-profile">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <a href="#" onclick="history.back(-1);">
                    <p class="breadcrumbs__text">
                        Вернуться назад
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="company-profile__container container">
        <div class="company-profile__inner">
            <div class="company-profile__content">
                <p class="company-profile__title">
                    Профиль компании
                </p>
                <p class="company-profile__text">
                    Ваши данные успешно сохранены!
                </p>
                <form class="company-profile__form">
                    <img class="company-profile__doc1-img" src="../../img/Document-icon.png" alt="doc">
                    <input class="company-profile__input company-profile__input-name" type="text" placeholder="Наименование компании">
                    <img class="company-profile__phone-img" src="../../img/Phone-icon.png" alt="phone">
                    <input class="company-profile__input company-profile__input-tel" type="tel" placeholder="Телефон для связи">
                    <img class="company-profile__doc2-img" src="../../img/Document-icon.png" alt="doc">
                    <input class="company-profile__input company-profile__input-register" type="text" placeholder="Номер регистрации">
                    <img class="company-profile__person-img" src="../../img/person-icon.png" alt="person">
                    <input class="company-profile__input company-profile__input-person" type="text" placeholder="Имя контактного лица">
                    <img class="company-profile__adress-img" src="../../img/Address-icon.png" alt="adress">
                    <input class="company-profile__input company-profile__input-adress" type="text" placeholder="Адрес компании">
                    <img class="company-profile__email-img" src="../../img/Email.png" alt="email">
                    <input class="company-profile__input company-profile__input-email" type="email" placeholder="E-mail">
                    <button class="company-profile__btn btn-reset">
                        <p class="company-profile__btn-text">Сохранить данные</p>
                    </button>
                    <p class="company-profile__btn-inf">
                        Нажимая кнопку, Вы даете согласие на обработку
                        <br>
                        <a href="../../data-protection.html">персональных данных</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>