<section class="contacts">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="contacts__container container">
        <div class="contacts__inner">
            <div class="contacts__content">
                <div class="contacts__leftside-content">
                    <p class="contacts__title">Контакты</p>
                    <ul class="contacts__list-info list-reset">
                        <li class="contacts__list-item">
                            <img class="contacts__list-img" src="../../img/Phone-icon.png" alt="">
                            <p class="contacts__list-text">Телефон: <b>+375 (29) 123-45-67</b></p>
                            <img class="contacts__list-social-img" src="../../img/whatsapp.png" alt="">
                            <img class="contacts__list-social-img" src="../../img/viber.png" alt="">
                            <img class="contacts__list-social-img" src="../../img/telegram.png" alt="">
                        </li>
                        <li class="contacts__list-item">
                            <img class="contacts__list-img" src="../../img/skype-icon.png" alt="">
                            <p class="contacts__list-text">Skype: <b>skypename</b></p>
                        </li>
                        <li class="contacts__list-item">
                            <img class="contacts__list-img" src="../../img/Email.png" alt="">
                            <p class="contacts__list-text">E-mail: <b>site@site.com</b></p>
                        </li>
                        <li class="contacts__list-item">
                            <img class="contacts__list-img" src="../../img/Email.png" alt="">
                            <p class="contacts__list-text">E-mail: <b>site@site.com</b></p>
                        </li>
                        <li class="contacts__list-item">
                            <img class="contacts__list-img" src="../../img/working-hours-icon.png" alt="">
                            <p class="contacts__list-text">Режим работы: 24/7</p>
                        </li>
                        <li class="contacts__extra-list-title">
                            <img class="contacts__list-img" src="../../img/Document-icon.png" alt="">
                            <p class="contacts__list-text">Реквизиты компании:</p>
                        </li>
                        <li class="contacts__extra-list">
                            <ul class="list-reset">
                                <li class="contacts__extra-list-item">
                                    <p class="contacts__extra-list-text">ЧТУП “ВИПКАМ”</p>
                                </li>
                                <li class="contacts__extra-list-item">
                                    <p class="contacts__extra-list-text">ОГРН 123456789</p>
                                </li>
                                <li class="contacts__extra-list-item">
                                    <p class="contacts__extra-list-text">ИНН 123456789</p>
                                </li>
                                <li class="contacts__extra-list-item">
                                    <p class="contacts__extra-list-text">Кпп 123456789</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="contacts__map">
                        <p class="contacts__map-title">Юр. адрес: РБ, г. Гродно 26-23000</p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75613.31022085028!2d23.70733088506649!3d53.68412349399705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd64beac55d1d%3A0xf013fd26569718c0!2z0JPRgNC-0LTQvdC-LCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sru!4v1678109102805!5m2!1sru!2sru"
                            width="165" height="161" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="contacts__rightside-content">
                    <p class="contacts__form-title">
                        <b>есть вопросы или предложения?</b>
                        <br>
                        Напишите в форме ниже и мы Вам ответим.
                    </p>
                    <form class="contacts__form">
                        <img class="contacts__form-textarea-img" src="../../img/textarea-icon.png" alt="">
                        <textarea class="contacts__form-textarea" placeholder="Ваш вопрос или предложение напишите здесь."></textarea>
                        <img class="contacts__form-email-img" src="../../img/Email.png" alt="">
                        <input class="contacts__form-email" type="email" placeholder="Ваш E-mail для ответа">
                        <button class="contacts__form-btn">
                            <p class="contacts__form-btn-text">отправить</p>
                        </button>
                    </form>
                    <div class="contacts__bottom-inf-wrapper">
                        <div class="contacts__list-files-wrapper">
                            <p class="contacts__list-files-title">Добавить файл</p>
                            <ul class="contacts__list-files list-reset">
                                <li class="contacts__list-files-item">
                                    <img class="contacts__list-files-img" src="../../img/menu-nav-close.png" alt="">
                                    <p class="contacts__list-files-text">Имя файла максимум 28 симв...</p>
                                </li>
                                <li class="contacts__list-files-item">
                                    <img class="contacts__list-files-img" src="../../img/menu-nav-close.png" alt="">
                                    <p class="contacts__list-files-text">Имя файла максимум 28 симв...</p>
                                </li>
                                <li class="contacts__list-files-item">
                                    <img class="contacts__list-files-img" src="../../img/menu-nav-close.png" alt="">
                                    <p class="contacts__list-files-text">Кол-во файлов максимум 3-и</p>
                                </li>
                            </ul>
                        </div>
                        <p class="contacts__form-btn-inf">Нажимая кнопку, Вы даете согласие на
                            <br>
                            обработку <span>персональных данных</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>