<section class="data-protection">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <a href="#" onclick="history.back(-1);">
                    <p class="breadcrumbs__text">
                        Вернуться назад
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="data-protection__container container">
        <div class="data-protection__content">
            <h3 class="data-protection__title">ПОЛИТИКА В ОБЛАСТИ ЗАЩИТЫ ДАННЫХ</h3>
            <p class="data-protection__text">
                Информируем Вас о том, что в ходе деятельности “EAM company” собираем, храним и обрабатываем
                персональные данные о наших Клиентах в соответствии с действующим законодательством, соблюдая
                конфиденциальность.
            </p>
            <p class="data-protection__text">
                Мы обеспечиваем корректную, законную и справедливую обработку ваших персональных данных и уважаем ваши
                законные права. Основная цель сбора этих данных – использование их при предоставлении транспортных и
                логистических услуг нашим Клиентам. Также эти данные используются для:
            </p>
            <ul class="data-protection__list list-reset">
                <li class="data-protection__list-item">
                    выполнения юридических обязательств, основанных на соглашениях или других договоренностях с вами или лицом, которое вы представляете;
                </li>
                <li class="data-protection__list-item">
                    управления и координации наших отношений с вами или юридическим лицом/организациями, которые вы представляете;
                </li>
                <li class="data-protection__list-item">
                    ответов на ваши вопросы или запросы;
                </li>
                <li class="data-protection__list-item">
                    обработки заявок и другой информации или сообщений, в том числе, о юридических услугах, которые мы предоставляем;
                </li>
                <li class="data-protection__list-item">
                    любых других законных деловых целей.
                </li>
            </ul>
            <p class="data-protection__text">
                Независимо от вашей цели, мы рекомендуем вам не раскрывать нам конфиденциальные личные данные – такие как расовое или этническое происхождение, религия, членство в профсоюзах, сексуальная ориентация, сведения о здоровье, генетические или биометрические данные и т. д.
            </p>
            <p class="data-protection__text">
                “EAM company” может получать вашу персональную информацию о Вас от других контроллеров хранения данных, чтобы предоставлять данные или организовывать двусторонние отношения между вами – конечным получателем определенной услуги, и нашей компанией. По вашему запросу мы всегда можем предоставить Вам данные сторон.
            </p>
            <p class="data-protection__text">
                “EAM company” хранит собранные о вас данные в течение периода, требуемого действующим законодательством.
            </p>
            <p class="data-protection__text">
                Ваши данные доступны руководству “EAM company”, сотрудникам и договорным партнерам – в частности, если они нужны им для выполнения юридических обязательств.
            </p>
            <p class="data-protection__text">
                “EAM company” не передаёт информацию третьим лицам. Однако в некоторых обстоятельствах  “EAM company” может потребоваться передать или поделиться данными с определенными третьими сторонами. Такими обстоятельствами могут быть необходимость передачи данных для  “EAM company”, чтобы выполнить свои юридические обязательства, защитить права, собственность и безопасность  “EAM company” или других лиц или в случае продажи / ликвидации какой-либо части бизнеса или активов  “EAM company”.
            </p>
            <p class="data-protection__text">
                На основании законодательства или запроса государственных органов, ваши данные могут быть доступны государственным органам.
            </p>
            <p class="data-protection__text">
                Обратившись в  “EAM company” по электронной почте [email], вы можете воспользоваться следующими правами, предоставленными вам GDPR:
            </p>
            <ul class="data-protection__list list-reset">
                <li class="data-protection__list-item">
                    запросить доступ к вашим данным;
                </li>
                <li class="data-protection__list-item">
                    запросить редактирование ваших данных;
                </li>
                <li class="data-protection__list-item">
                    запросить удаление ваших данных из нашей базы данных;
                </li>
                <li class="data-protection__list-item">
                    отменить (отозвать) ваше согласие на обработку ваших данных;
                </li>
                <li class="data-protection__list-item">
                    запросить ограничение на обработку ваших данных;
                </li>
                <li class="data-protection__list-item">
                    запросить передачу ваших данных другому контроллеру,
                </li>
                <li class="data-protection__list-item">
                    возражать против обработки ваших данных.
                </li>
            </ul>
            <p class="data-protection__text">
                Обратите внимание: если по вашему запросу мы удалим ваши данные из нашей базы данных, мы будем хранить только ту информацию, которая может понадобиться для защиты наших законных интересов или информацию, необходимую государственным органам.
            </p>
            <p class="data-protection__text">
                Если вы потребуете от нас передачи ваших данных другому контроллеру, исправления ваших данных или предоставления доступа к ним, мы можем сначала запросить дополнительную информацию для подтверждения вашей личности.
            </p>
            <p class="data-protection__text">
                Сохранение конфиденциальности ваших личных данных осуществляется в соответствии с законами, регулирующими нашу деятельность в странах, где расположен наш офис, нашими внутренними правилами и общей политикой компании, а также договорными соглашениями с вами или с лицом / организациями, которые вы представляете. Мы не обмениваемся имеющимися у нас данными о вас и не делаем их коммерчески доступными для какой-либо третьей стороны.
            </p>
            <p class="data-protection__text">
                Мы приняли организационные, административные, технические и физические меры для защиты ваших данных от раскрытия их третьим лицам.
            </p>
            <p class="data-protection__text">
                Если вы считаете, что ваши права, связанные с защитой ваших личных данных, были нарушены, свяжитесь с нами по электронной почте [email]
            </p>
            <p class="data-protection__text">
                Пожалуйста, не стесняйтесь обращаться к нам по адресу [email], если у вас есть какие-либо вопросы по поводу нашей Политики конфиденциальности.
            </p>
        </div>
    </div>
</section>