<section class="delivery">
    <div class="delivery-wrapper">
        <div class="delivery__img-wrapper">
            <img class="delivery__img" src="../../img/delivery.jpg" alt="">
        </div>
        <div class="delivery__container">
            <div class="delivery__inner">
                <div class="delivery__content">                   
                    <h3 class="delivery__title">Доставим ваш груз по Европе и СНГ
                    <br> 
                    <span class="delivery__title-light">всего от 0,5 евро/км</span></h3>
                    <div class="delivery__popular-wrapper">
                        <h5 class="delivery__popular-title">Популярные регионами доставки груза:</h5>
                        <ul class="delivery__popular-list list-reset">
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                            <li class="delivery__popular-country-img">
                                <img src="../../img/delivery-german.png" alt="">
                            </li>
                            <li class="delivery__popular-country">
                                <p class="delivery__popular-text">Германия</p>
                            </li>
                        </ul>
                        <div class="delivery__popular-footer-wrapper">
                            <p class="delivery__popular-footer">Если регион загрузки или разгрузки совпадает со списком Вам предоставляется <span class="delivery__popular-footer-red"><span class="delivery__popular-footer-red--uppercase">кэш-бэк 5%</span> на первую перевозку!</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-in-line delivery__advantages-in-line">
        <div class="container">
            <ul class="advantages-in-line__list list-reset">
                <li class="advantages-in-line__item">
                  <div class="advantages-in-line__item-text"> 
                    <b>CMR страхование</b> вашего
                    <br>
                    груза до <b>200 000 Eur.</b> 
                  </div>
                </li>
                <li class="advantages-in-line__item">
                  <div class="advantages-in-line__item-text"> 
                    Оплачивайте <b>безналичным</b>
                    <br>
                    <b>или наличным</b> расчётом.
                  </div>
                </li>
                <li class="advantages-in-line__item">
                  <div class="advantages-in-line__item-text">
                    <b>Короткие сроки и низкие цены</b>
                    <br>
                    без посредников
                  </div>
                </li>
              </ul>
        </div>
    </div>
</section>