<section class="dev-var">
    <div class="dev-var__container container">
        <div class="dev-var__inner">
            <div class="dev-var__content">
                <h2 class="dev-var__title">
                    <b>Варианты доставки</b> <span class="dev-var__title-light">от 10 кг. до 20 тонн.</span> 
                    <br> 
                    <span class="dev-var__title-light">с возможностью перевозки отдельным авто без попутного груза.</span>     
                </h2>
                <ul class="dev-var__list list-reset">
                    <li class="dev-var__list-item">
                        <img class="dev-var__list-img dev-var__list-img-cargo" src="../../img/cargo.svg" alt="">
                        <p class="dev-var__list-text">
                            Доставка <b>сборных грузов</b>
                            <br>
                            от 10 кг. до 20 т.
                        </p>
                    </li>
                    <li class="dev-var__list-item">
                        <img class="dev-var__list-img dev-var__list-img-truck" src="../../img/refrigerated.svg" alt="">
                        <p class="dev-var__list-text">
                            <b>Температурные перевозки</b>
                            <br>
                            от 10 кг. до 20 т.
                        </p>
                    </li>
                    <li class="dev-var__list-item">
                        <img class="dev-var__list-img dev-var__list-img-truck" src="../../img/truck.svg" alt="">
                        <p class="dev-var__list-text">
                            <b>Быстрая перевозка</b> отдельным
                            <br>
                            авто от 10 кг. до 20 т.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>