<section class="important-features">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="important-features__container container">
        <div class="important-features__content">
            <div class="important-features__leftside-content">
                <p class="important-features__title">Важные особенности для вас</p>
                <ul class="important-features__list list-reset">
                    <li class="important-features__list-item">
                        <p>
                            Стоимость перевозки груза всего от 0,5 евро/км за счёт 
                            <br>
                            собственного автопарка.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Подача машины на место погрузки в течение 24 часов 
                            <br>
                            после согласования.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Транспортировка грузов в соответствии с установленными
                            <br>
                            нормами СНГ и ЕС.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Предоставим Вам CMR страхование Вашего груза до 200 000
                            <br>
                            Eur.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Оплачивайте удобной формой оплаты (наличная,
                            <br>
                            безналичная).
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            С вами на связи 24/7 (24 часа в сутки 7 дней в неделю).
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Можете воспользоваться рассрочкой платежа до 60 дней без
                            <br>
                            переплат.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Предоставим Вам полный пакет документов для Юр. и Физ.
                            <br>
                            лиц.
                        </p>
                    </li>
                    <li class="important-features__list-item">
                        <p>
                            Ежесуточное уведомление о движении вашего груза любым
                            <br>
                            удобным для Вас способом.
                        </p>
                    </li>
                </ul>
                <div class="important-features__text-wrapper">
                    <p class="important-features__text">
                        При регистрации в <a class="important-features__cabinet-link" href="#">Кабинете клиента</a> Вам будет предоставлена
                        <br>
                        бонусная программа: <a class="important-features__cashback-link" href="#">КЭШ-БЭК до 14%!</a>
                    </p>
                </div>
            </div>
            <div class="important-features__rightside-content">
                <img class="important-features__img" src="../../img/features.jpg" alt="features">
            </div>
        </div>
    </div>
</section>