<section class="insurance">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <a href="#" onclick="history.back(-1);">
                    <p class="breadcrumbs__text">
                        Вернуться назад
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="insurance__container container">
        <div class="insurance__content">
            <div class="insurance__leftside-content">
                <p class="insurance__title">CMR страхование</p>
                <p class="insurance__first-list-title">
                    В первую очередь CMR страхование Вашего груза говорит
                    <br>
                    о том, что вы обращаетесь к компетентной организации в области
                    <br>
                    перевозки грузов, которая обладает всем необходимым для
                    <br>
                    обеспечения качественной и безопасной перевозки
                    <br>
                    по территории Европы и СНГ в соответствии с:
                </p>
                <ul class="insurance__first-list list-reset">
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            Международной Конвенцией «О договоре международной
                            <br>
                            дорожной перевозки грузов» 1956 года (КДПГ) для
                            <br>
                            международных автомобильных перевозок;
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            требованиями, установленными «Европейским 
                            <br>
                            соглашением о международной дорожной перевозке 
                            <br>
                            опасных
                            грузов» (ДОПОГ, Женева 1957), при международной 
                            <br>
                            перевозке опасных отходов — в соответствии
                            <br>
                            с требованиями «Базельской конвенции о контроле 
                            <br>
                            за трансграничной перевозкой опасных отходов
                            <br>
                            и их удалением» (Базель, 1989);
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            требованиями национального законодательства государств, 
                            <br>
                            по территории которых осуществляется перевозка.
                        </p>
                    </li>
                </ul>
                <p class="insurance__second-list-title">
                    CMR-страхование позволяет избежать непредвиденных
                    <br>
                    убытков, возникающих в процессе выполнения грузоперевозок
                    <br>
                    и покрывает следующие риски и ответственность:
                </p>
                <ul class="insurance__list list-reset">
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            За гибель, порчу, повреждение всего груза или его части;
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            Перед третьими лицами, не являющимися участниками 
                            <br>
                            договора страхования, в случае нанесения им 
                            <br>
                            имущественного ущерба;
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            При нарушении или неисполнении таможенных процедур;
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            За неправильное оформление транспортной документации 
                            <br>
                            и нарушение инструкций грузовладельца;
                        </p>
                    </li>
                    <li class="insurance__list-item">
                        <p class="insurance__list-text">
                            За нарушение сроков поставки и понесенные 
                            <br>
                            грузовладельцем убытки в следствие этого.
                        </p>
                    </li>
                </ul>
                <p class="insurance__bottom-text">
                    Вы можете быть уверены, что Ваш груз в надёжных руках.
                </p>
            </div>
            <div class="insurance__rightside-content">
                <img class="insurance__img" src="../../img/insurance.jpg" alt="insurance img">
            </div>
        </div>
    </div>
</section>