<section class="letter-received">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="letter-received__container container">
        <div class="letter-received__content">
            <p class="letter-received__title">Ваше отправленное письмо получено</p>
            <p class="letter-received__text">
                Мы получили Ваше письмо и в течение 20 минут
                <br>
                подготовим ответ, и отправим его Вам.
            </p>
            <img class="letter-received__img" src="../../img/letter-received-img.jpg" alt="letter-received img">
        </div>
    </div>
</section>