<section class="main-hero" id="main-hero">
  <div class="container main-hero__container">
    <div class="main-hero__inner">
      <div class="main-hero__content">
        <div class="main-hero__text">Собственный автопарк грузовых машин!</div>
        <h1 class="main-hero__title">
          Международные перевозки <span class="main-hero__title-light">грузов</span>
          <div>по Европе и СНГ от 0,5 евро/км</div>
        </h1>
      </div>
      <div class="advantages-in-line main-hero__advantages">
        <div class="container">
          <ul class="advantages-in-line__list list-reset">
            <li class="advantages-in-line__item">
              <div class="advantages-in-line__item-text">
                Персональная <b>поддержка</b>
                <br>
                менеджера <b>24/7</b>
              </div>
            </li>
            <li class="advantages-in-line__item">
              <div class="advantages-in-line__item-text">
                <b>Отсрочка</b> платежа <b>до 60 дней</b>
                <br>
                без переплат
              </div>
            </li>
            <li class="advantages-in-line__item">
              <div class="advantages-in-line__item-text">
                <b>Короткие сроки и низкие цены</b>
                <br>
                без посредников
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
