<div class="main-form">
    <div class="container">
        <div class="main-form__inner">
            <div class="main-form__heading-wrapper">
                <h2 class="main-form__heading-title">
                    Заполните форму <span class="main-form__title-light">и узнайте стоимость доставки груза</span>
                </h2>
                <p class="main-form__heading-text">
                    После заполнения и отправки формы рассчитаем для Вас стоимость доставки груза и вышлем Вам на 
                    <br>
                    указанный E-mail. Также вы получите <b>промокода на 5% КЭШ-БЭК</b> при первом заказе.
                </p>
            </div>
            <div class="main-form__bottom-wrapper">
                <form class="main-form__form">
                    <input type="text" class="main-form__form-input main-form__form-input-get" placeholder="Место загрузки">
                    <input type="text" class="main-form__form-input main-form__form-input-put" placeholder="Место разгрузки">
                    <button class="main-form__form-btn btn-reset" type="submit">
                        Узнать стоимость
                    </button>
                    <input type="text" class="main-form__form-input main-form__form-input-weight" placeholder="Вес в кг.">
                    <input type="text" class="main-form__form-input main-form__form-input-qty" placeholder="Кол-во палет">
                    <input type="text" class="main-form__form-input main-form__form-input-email" placeholder="E-mail для получения расчета">
                    <p class="main-form__text">
                        Нажимая кнопку, Вы даете согласие на
                        <br>
                        обработку <span class="main-form__text-underline">персональных данных</span> 
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>