<section class="menu-navigation">
    <div class="container">
        <div class="menu-navigation__inner">
            <div class="menu-navigation__content">
                <span class="menu-navigation__close">
                    <img class="menu-navigation__img-close" src="../../img/menu-nav-close.png" alt="">
                    <p class="_toggle-menu menu-navigation__text-close">Закрыть меню</p>
                </span>
                <p class="menu-navigation__list-title">Разделы сайта:</p>
                <ul class="menu-navigation__list list-reset">
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#"><span>Главная</span></a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#">Кабинет клиента</a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#">Кэш-бэк</a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#"><b>Контакты</b></a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#">О компании</a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#">Страховка груза</a>
                    </li>
                    <li class="menu-navigation__list-item">
                        <a class="menu-navigation__list-link" href="#">Политика защиты данных</a>
                    </li>
                </ul>
                <p class="menu-navigation__doclist-title">Полезные документы:</p>
                <ul class="menu-navigation__doclist list-reset">
                    <li class="menu-navigation__doclist-item">
                        <a href="#" class="menu-navigation__doclist-link">Скачать договор</a>
                        <img class="menu-navigation__doclist-img" src="../../img/word.png" alt="">
                    </li>
                    <li class="menu-navigation__doclist-item">
                        <a href="#" class="menu-navigation__doclist-link">Скачать заявку</a>
                        <img class="menu-navigation__doclist-img" src="../../img/word.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
