<section class="password-changer">
    <div class="breadcrumbs">
        <div class="breadcrumbs__container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="password-changer__container container">
        <div class="password-changer__inner">
            <div class="password-changer__leftside-content">
                <h3 class="password-changer__title">Смена пароля</h3>
                <p class="password-changer__text">Новый пароль успешно сохранен!</p>
                <form class="password-changer__form">
                    <input type="password" class="password-changer__input js-password-input" placeholder="Новый пароль">
                    <button class="password-changer__btn-pass-first btn-reset js-btn-password" type="button">
                        <img class="password-changer__btn-img" src="../../img/btn-password-icon.png" alt="">
                    </button>
                    <img class="password-changer__icon-first" src="../../img/password-icon.png" alt="">
                    <input type="password" class="password-changer__input js-password-input-new" placeholder="Повторите пароль">
                    <button class="password-changer__btn-pass-second btn-reset js-btn-password-new" type="button">
                        <img class="password-changer__btn-img" src="../../img/btn-password-icon.png" alt="">
                    </button>
                    <img class="password-changer__icon-second" src="../../img/password-icon.png" alt="">
                    <button class="password-changer__btn btn-reset">
                        <p class="password-changer__btn-text">Поменять пароль</p>
                    </button>
                </form>
            </div>
            <div class="password-changer__rightside-content">
                <img class="password-changer__img" src="../../img/password-changer-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>