<section class="requests">
    <div class="breadcrumbs">
        <div class="breadcrumbs__requests-container container">
            <div class="breadcrumbs__inner">
                <a href="#" onclick="history.back(-1);">
                    <p class="breadcrumbs__text">
                        Вернуться назад
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="requests__container container">
        <div class="requests__content">
            <div class="requests__heading">
                <div class="requests__leftside-content">
                    <h2 class="requests__title">Добро пожаловать</h2>
                    <p class="requests__text"><span>Cashback:</span> 9999.40 EUR</p>
                </div>
                <div class="requests__rightside-content">
                    <ul class="requests__list list-reset">
                        <li class="requests__list-item">
                            <a class="cabinet" href="../../cabinet.html">Выйти</a>
                        </li>
                        <li class="requests__list-item">
                            <a class="support" href="../../shipping-price.html">Поддержка 24/7</a>
                        </li>
                        <li class="requests__list-item">
                            <a class="profile" href="../../company-profile.html">Профиль</a>
                        </li>
                        <li class="requests__list-item">
                            <a class="password" href="../../password-changer.html">Сменить пароль</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="requests__main-content">
                <form class="requests__form">
                    <label class="requests__add-request">
                        <input type="file" class="requests__input">
                        Добавить заявку
                    </label>
                    <button class="requests__clone-btn btn-reset">
                        Клонировать
                    </button>
                    <button class="requests__remove-btn btn-reset">
                        Отменить заявку
                    </button>
                    <label class="requests__search-input">
                        <input type="text" class="requests__search js-search-input" placeholder="Поиск по таблице">
                        <button class="requests__search-btn btn-reset js-search-btn" type="button">
                            <img class="requests__img" src="../../img/menu-nav-close.png" alt="">
                        </button>
                    </label>
                </form>
                <div class="requests__export">
                    <h4 class="requests__export-title">
                        Экспорт: 
                    </h4>
                    <ul class="requests__export-list list-reset">
                        <li class="requests__export-list-item requests__exel-icon">XLSX</li>
                        <li class="requests__export-list-item requests__pdf-icon">PDF</li>
                    </ul>
                </div>
            </div>
            <div class="requests__bottom-content">
                <table class="requests__table">
                    <thead>
                        <tr class="requests__table-heading">
                            <th class="requests__table-empty-cell"></th>
                            <th class="requests__table-head extend"><span>№ заказа/договора</span></th>
                            <th class="requests__table-head expand"><span>Дата загрузки</span></th>
                            <th class="requests__table-head">Место загрузки</th>
                            <th class="requests__table-head expand"><span>Дата выгрузки</span></th>
                            <th class="requests__table-head">Место выгрузки</th>
                            <th class="requests__table-head">Описание груза</th>
                            <th class="requests__table-head expand"><span>Вес Netto (кг.)</span></th>
                            <th class="requests__table-head expand"><span>Объём  в куб/м.</span></th>
                            <th class="requests__table-head expand"><span>Стоимость</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="requests__table-main-checkbox">
                                <label class="requests__table-checkbox">
                                    <input class="checkbox" type="checkbox">
                                </label>
                            </td>
                            <td class="requests__table-main-item">15052021000001/01</td>
                            <td class="requests__table-main-item"><span>Выберите дату</span></td>
                            <td class="requests__table-main-item">Заполните адрес</td>
                            <td class="requests__table-main-item"><span>Выберите дату</span></td>
                            <td class="requests__table-main-item">Заполните адрес</td>
                            <td class="requests__table-main-item">Заполните описание</td>
                            <td class="requests__table-main-item">Вес груз</td>
                            <td class="requests__table-main-item">Объем груза</td>
                            <td class="requests__table-main-item">Стоимость груза</td>
                        </tr>
                        <tr class="requests__table-text-row">
                            <td></td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text"><b>Скачать договор</b></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text"><b>Скачать заявку</b></p>
                            </td>
                            <td></td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Дата создания: <span>26/08/2021</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Статус: <span class="highlight">Рассмотрение</span></p>
                            </td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Стоимость перевозки: <span class="highlight">Рассмотрение</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Кэш-бэк: <span class="highlight">0 EUR</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="requests__table-main-checkbox">
                                <label class="requests__table-checkbox">
                                    <input class="checkbox" type="checkbox">
                                </label>
                            </td>
                            <td class="requests__table-main-item">15052021000001/01</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+3</span></td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+4</span></td>
                            <td class="requests__table-main-item">г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">20 000</td>
                            <td class="requests__table-main-item">5</td>
                            <td class="requests__table-main-item">150 000 EUR</td>
                        </tr>
                        <tr class="requests__table-text-row gray-bg">
                            <td></td>
                            <td class="requests__table-text-wrapper"></td>
                            <td class="requests__table-text-wrapper"></td>
                            <td></td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Дата создания: <span>26/08/2021</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Статус: <span>Отменена</span></p>
                            </td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Стоимость перевозки: <span>Отменена</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Кэш-бэк: <span>0 EUR</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="requests__table-main-checkbox">
                                <label class="requests__table-checkbox">
                                    <input class="checkbox" type="checkbox">
                                </label>
                            </td>
                            <td class="requests__table-main-item">15052021000001/01</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+3</span></td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+4</span></td>
                            <td class="requests__table-main-item">г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">20 000</td>
                            <td class="requests__table-main-item">5</td>
                            <td class="requests__table-main-item">150 000 EUR</td>
                        </tr>
                        <tr class="requests__table-text-row green-bg">
                            <td></td>
                            <td class="requests__table-text-wrapper"></td>
                            <td class="requests__table-text-wrapper"></td>
                            <td></td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Дата создания: <span>26/08/2021</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Статус: <span>Выполнена</span></p>
                            </td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Стоимость перевозки: <span>800 EUR</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Кэш-бэк: <span>0 EUR</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="requests__table-main-checkbox">
                                <label class="requests__table-checkbox">
                                    <input class="checkbox" type="checkbox">
                                </label>
                            </td>
                            <td class="requests__table-main-item">15052021000001/01</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+3</span></td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item"><span>05/11/2021 15:40 UTC+4</span></td>
                            <td class="requests__table-main-item">г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">Беларусь, г. Гродно, ул. Тестовая, д.66 ПТО3</td>
                            <td class="requests__table-main-item">20 000</td>
                            <td class="requests__table-main-item">5</td>
                            <td class="requests__table-main-item">150 000 EUR</td>
                        </tr>
                        <tr class="requests__table-text-row blue-bg">
                            <td></td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text"><b>Скачать договор</b></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text"><b>Скачать заявку</b></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text"><b>Применить Cashback </b></p>
                            </td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Дата создания: <span>26/08/2021</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Статус: <span>Соглосование</span></p>
                            </td>
                            <td class="requests__table-text-wrapper" colspan="2">
                                <p class="requests__table-text">Стоимость перевозки: <span>800 EUR</span></p>
                            </td>
                            <td class="requests__table-text-wrapper">
                                <p class="requests__table-text">Кэш-бэк: <span>0 EUR</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="requests__pagination">
                    <ul class="requests__pagination-list list-reset">
                        <li class="requests__pagination-item">1</li>
                        <li class="requests__pagination-item">2</li>
                        <li class="requests__pagination-item">3</li>
                        <li class="requests__pagination-item"><b>4</b></li>
                        <li class="requests__pagination-item">5</li>
                        <li class="requests__pagination-item">6</li>
                        <li class="requests__pagination-item">7</li>
                        <li class="requests__pagination-item">8</li>
                        <li class="requests__pagination-item">...</li>
                        <li class="requests__pagination-item">101</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>