<section class="shipping-price">
    <div class="breadcrumbs">
        <div class="breadcrumbs__shipping-price-container container">
            <div class="breadcrumbs__inner">
                <p class="breadcrumbs__text">
                    Вернуться назад
                </p>
            </div>
        </div>
    </div>
    <div class="shipping-price__container container">
        <div class="shipping-price__content">
            <p class="shipping-price__title">Вас интересует цена перевозки?</p>
            <div class="shipping-price__top-content">
                <p class="shipping-price__top-text">Заполните форму ниже и в течение 20 минут после отправки
                    <br>
                    рассчитаем для Вас стоимость доставки груза и вышлем Вам
                    <br>
                    ответ на указанный E-mail.
                </p>
                <div class="shipping-price__top-info-wrapper">
                    <p class="shipping-price__top-info">
                        При регистрации в <a class="shipping-price__top-cabinet-link" href="#">Кабинете клиента</a> Вам будет предоставлена
                        <br>
                        бонусная программа: <a class="shipping-price__top-cashback-link" href="#">КЭШ-БЭК до 14%!</a>
                    </p>
                </div>
            </div>
            <form class="shipping-price__form">
                <img class="shipping-price__form-get-icon" src="../../img/Departure.png" alt="">
                <input class="shipping-price__form-get" type="text" placeholder="Место загрузки">
                <img class="shipping-price__form-put-icon" src="../../img/Arrival.png" alt="">
                <input class="shipping-price__form-put" type="text" placeholder="Место разгрузки">
                <img class="shipping-price__form-weight-icon" src="../../img/Weight.png" alt="">
                <input class="shipping-price__form-weight" type="text" placeholder="Вес перевозимого груза в кг.">
                <img class="shipping-price__form-qty-icon" src="../../img/pallet.png" alt="">
                <input class="shipping-price__form-qty" type="text" placeholder="Кол-во палет">
                <img class="shipping-price__form-textarea-icon" src="../../img/textarea-icon.png" alt="">
                <textarea class="shipping-price__form-textarea" placeholder="Напишите краткое описание груза, его особенности или Ваши пожелания."></textarea>
                <img class="shipping-price__form-email-icon" src="../../img/Email.png" alt="">
                <input class="shipping-price__form-email" type="email" placeholder="E-mail для получения расчета">
                <button class="shipping-price__form-btn btn-reset" type="submit"><p>Узнать стоимость</p></button>
                <label class="shipping-price__form-file-upload">
                    <input class="shipping-price__form-file" type="file"> 
                    Добавить файл
                </label>
                <p class="shipping-price__form-btn-text">
                    Нажимая кнопку, Вы даете согласие на 
                    <br>
                    обработку <a href="#">персональных данных</a>
                </p>
            </form>
        </div>
    </div>
</section>