<section class="welcome-page">
    <div class="welcome-page__container container">
        <div class="welcome-page__content">
            <h2 class="welcome-page__title">Здравствуйте</h2>
            <p class="welcome-page__text">
                Ознакомившись с информацией на вашем сайте мы заметили, что вам интересна помощь в доставке грузов на экспорт/импорт по Европе и СНГ.
            </p>
            <a class="welcome-page__request-btn" href="../../requests-page.html">
                <p class="welcome-page__request-text">
                    Расчёт заявки на доставку
                </p>
            </a>
            <p class="welcome-page__text">
                Вы пользуетесь услугами международных грузоперевозчиков для экспорта/импорта товара или оборудования?
            </p>
            <img class="welcome-page__img" src="../../img/welcome-page-img.jpg" alt="">
            <p class="welcome-page__text">
                Напомним о нашей организации “EAM company”
            </p>
            <ul class="welcome-page__list list-reset">
                <li class="welcome-page__list-item">
                    Стоимость перевозки груза всего от <b>0,5 eur/км</b> за счёт собственного автопарка.
                </li>
                <li class="welcome-page__list-item">
                    Можете воспользоваться <b>рассрочкой</b> платежа до <b>60 дней</b> без переплат.
                </li>
                <li class="welcome-page__list-item">
                    <b>Подача машины</b> на место погрузки в течение <b>24 часов после согласования.</b>
                </li>
                <li class="welcome-page__list-item">
                    Предоставим Вам <b>CMR страхование</b> Вашего груза до <b>200 000 Eur.</b>
                </li>
                <li class="welcome-page__list-item">
                    <b>С вами на связи 24/7</b> (24 часа в сутки 7 дней в неделю).
                </li>
                <li class="welcome-page__list-item">
                    Оплачивайте удобной формой оплаты (наличная, безналичная).
                </li>
                <li class="welcome-page__list-item">
                    Транспортировка грузов в соответствии с установленными нормами СНГ и ЕС.
                </li>
                <li class="welcome-page__list-item">
                    Предоставим Вам полный пакет документов для Юр. и Физ. лиц.
                </li>
                <li class="welcome-page__list-item">
                    Ежесуточное уведомление о движении вашего груза любым удобным для Вас способом.
                </li>
            </ul>
            <a class="welcome-page__index-btn" href="../../index.html">
                <p class="welcome-page__index-text">
                    Узнать подробнее
                </p>
            </a>
            <p class="welcome-page__text">
                С уважением, команда “EAM company” 
                <br>
                Желаем хорошего Вам дня!
            </p>
            <div class="welcome-page__bottom-text-wrapper">
                <p class="welcome-page__bottom-text">
                    Добавьте наш e-mail в адресную книгу, чтобы не пропускать важную информацию.
                    Вы получили это письмо потому, что зарегистрированы в сервисе и подтвердили свое согласие с <a href="../../data-protection.html">Правилами и Условиями.</a>
                </p>
                <p class="welcome-page__bottom-text">
                    Для получения помощи обращайтесь по адресу: <b>support@site.com</b>
                </p>
            </div>
        </div>
    </div>
</section>