<header class="header">
  <div class="container header__container">
    <div class="header__inner">
      <nav class="menu">
        <button class="menu__burger burger btn-reset">
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
        </button>
        <div class="leftside-menu leftside-menu--close">
          <button class="leftside-menu__close btn-reset">
            <img src="../../img/leftside-menu-close.png" alt="">
            <p class="leftside-menu__btn-text">Закрыть меню</p>
          </button>
          <div class="leftside-menu__nav-title">
            Разделы сайта:
          </div>
          <ul class="leftside-menu__nav-list list-reset">
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#"><span>Главная</span></a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#">Кабинет клиента</a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#">Кэш-бэк</a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#"><b>Контакты</b></a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#">О компании</a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#">Страховка груза</a>
            </li>
            <li class="leftside-menu__nav-item">
              <a class="leftside-menu__nav-link" href="#">Политика защиты данных</a>
            </li>
          </ul>
          <div class="leftside-menu__docs-title">
            Полезные документы:
          </div>
          <ul class="leftside-menu__docs-list list-reset">
            <li class="leftside-menu__docs-item">
              <a class="leftside-menu__docs-link" href="#">Скачать договор</a>
              <img class="leftside-menu__docs-img" src="../../img/word-icon.png" alt="">
            </li>
            <li class="leftside-menu__docs-item">
              <a class="leftside-menu__docs-link" href="#">Скачать заявку</a>
              <img class="leftside-menu__docs-img" src="../../img/word-icon.png" alt="">
            </li>
          </ul>
        </div>
        <ul class="menu__list list-reset">
          <li class="menu__list-item">
            <a class="menu__list-itemlink" href="#">
              Меню
            </a>
          </li>
          <a class="menu__list-imglink" href="#"><img src="../img/cabinet.png" alt=""></a>
          <li class="menu__list-item">
            <a class="menu__list-itemlink" href="#">
              Кабинет
            </a>
          </li>
        </ul>
      </nav>  
        <a class="menu__logo" href="#">
          <img class="header__content-img" src="../img/header-logo.png" alt="logo">
        </a>
      <nav class="menu">
        <ul class="menu__list list-reset">
          <li class="menu__list-phone">
            <a class="menu__list-phone" href="tel:+375291234567">+375 (29) 123-45-67</a> 
          </li>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/whatsapp.png" alt=""></a>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/viber.png" alt=""></a>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/telegram.png" alt=""></a>
        </ul>
        <button class="menu__btn btn-reset">
          <img class="menu__btn-img" src="../img/russia.svg" alt="">
          <a class="menu__btn-togle" href="#">
            RUS
          </a>
        </button>
      </nav>
    </div>
  </div>
</header>
