<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <button class="menu__burger burger btn-reset">
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
          <span class="menu__burger-btn burger-btn"></span>
        </button>
        <ul class="menu__list list-reset">
          <li class="menu__list-item">
            <a class="menu__list-itemlink" href="#">
              Меню
            </a>
          </li>
          <a class="menu__list-imglink" href="#"><img src="../img/cabinet.png" alt=""></a>
          <li class="menu__list-item">
            <a class="menu__list-itemlink" href="#">
              Кабинет
            </a>
          </li>
        </ul>
      </nav>  
        <a class="menu__logo" href="#">
          <img class="header__content-img" src="../img/header-logo.png" alt="logo">
        </a>
      <nav class="menu">
        <ul class="menu__list list-reset">
          <li class="menu__list-phone">
            <a class="menu__list-phone" href="tel:+375291234567">+375 (29) 123-45-67</a> 
          </li>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/whatsapp.png" alt=""></a>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/viber.png" alt=""></a>
          <a class="menu__list-social" href=""><img class="menu__list-img" src="../img/telegram.png" alt=""></a>
        </ul>
        <button class="menu__btn btn-reset">
          <img class="menu__btn-img" src="../img/russia.svg" alt="">
          <a class="menu__btn-togle" href="#">
            RUS
          </a>
        </button>
      </nav>
    </div>
  </div>
</header>
