// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1280px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --gray-color: #A7B1BC;
  --acc-color: #00FFD1;
  --red-color: #FF0000;
  --btn-color: #D5D5D5;
  --form-bg-color: #2E2E2E;
  --form-title-color: #FFF9C8;
}
